* {
    box-sizing: border-box;
}

:root {
    --primary-color: #292fc3;
    --secondary-color: #ef9f4a;
}

.menu-btn{
    display: none;
}
.menu-btn-open-close{
    display: none;
}

#overlay-cart {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.618);
    z-index: 700;
}
#overlay-menu{
    display: none;
}

.navbar-main {
    width: 100%;
    height: 11vh;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: fixed;
    top: 0;
    z-index: 500;
}


.navbar-logo {
    margin: 0 2rem;
}

.navbar-logo a {
    text-decoration: none;
    color: var(--secondary-color);
}

.navbar-logo h1 {
    font-weight: 700;
    -webkit-text-stroke: 0.1px rgb(62, 52, 1);
}

.navbar-links {
    display: flex;
    margin: 0 2rem;
}

.navbar-links a {
    text-decoration: none;
    color: white;
}

.navbar-links a.active {
    background-color: white;
    color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
}

.navbar-links h3 {
    margin: 0 0.5rem;
    font-size: 20px;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

.navbar-links h3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.432);
    border-radius: 8px;
    color: black;
    left: 0;
    bottom: -100%;
}

.navbar-links h3:hover::after {
    bottom: 0;
    transition: all 0.3s ease;
}

.navbar-links button {
    margin: 0 0.6rem;
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 2px 10px 5px 10px;
    color: white;
    font-weight: 600;
    text-shadow: 0.1px 0px 1px black;
    border: 1px solid white;
}

.btn-primary {
    background-color: var(--secondary-color) !important;
    border: 1px solid rgb(251, 207, 112);
    font-weight: 600;
    font-size: 1rem;
}
.logout-btn{
    background-color: transparent !important;
    border: 0px !important;
    font-size: 20.5px;
    color: var(--secondary-color) !important;
    text-shadow: 1px 1px 3px black;
}

.cart-button {
    margin-right: 2.4rem;
    cursor: pointer;
}

.cart-button i {
    font-size: 1.5rem;
    color: rgb(232, 251, 253);
}

.cart-section-heading {
    color: black;
    padding: 10px 1.1rem;
    background-color: white;
    margin-top: 5.5rem;
}

.cartdata{
    margin-bottom: 3.5rem;
    border-radius: 10px;
}

.cart-product-list-total {
    margin: 0.7rem;
    background-color: white;
    border-radius: 10px;
    border: 0.1px solid #e4e4e4;

}

.cart-products-list {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1px solid #f3f3f3;
    gap: 4px;
}

.cart-products-list .cartlist-left-image {
    width: 15%;
    padding: 12px;
    padding-right: 5px;
}

.cart-products-list .cartlist-left-image img {
    width: 84%;
    border: 0.1px solid rgb(228, 228, 228);
    border-radius: 10px;
    padding: 10px;
}


.cart-products-list .cartlist-medium-desc {
    width: 45%;
    padding: 7px;
    padding-left: 0;
}

.cart-products-list .cartlist-medium-desc p {
    font-size: 11.6px;
    font-weight: 400;
    margin-bottom: 0;
    margin-right: 0.7rem;
}

.cart-products-list .cartlist-medium-desc span {
    font-size: 11.2px;
    font-weight: 400;
}

.cart-products-list .cartlist-medium-desc h6 {
    font-size: 12.2px;
    font-weight: 700;
}

.cart-products-list .cartlist-right-quantity {
    width: 20%;
    /* margin: 0 px 0 6px; */
    cursor: pointer;
}
.cart-products-list button {
    width: 15%;
    margin-right: 2rem;
}
.fa-trash{
    cursor: pointer;
}

.cart-products-list .cartlist-right-quantity .quan-right-cart {
    justify-content: center;
}
.cart-products-list .cartlist-right-quantity .quan-right-cart input {
    width: 40%;
    border: 0.1px solid #e4e3e3;
    margin: 0;
    padding: 0 5px;
}

.cart-products-list .cartlist-right-quantity .quan-right-cart span {
    border: 0.1px solid #e4e3e3;
    background-color: #e4e3e3;
    margin: 0;
    padding: 0.5px 8px;
    padding-bottom: 2px;
}

.totalpriceheading-price{
    width: 18%;
    text-align: center;
}
.totalpriceheading-price h6{
    line-height: 0.7;
}
.totalpriceheading-price span{
    color: #616161;
    font-size: 17px;
    font-weight: 600;
}

.Cart-Bill-details {
    margin-top: 0.8rem;
    background-color: white;
    border-radius: 10px;
    border: 0.1px solid #e4e4e4;
    align-items: center;
}

.itemtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 14px;
    padding-right: 15px;
}

.Cart-Bill-details .itemtotal .left-desc-total {
    width: 70%;
    padding-top: 3px;
}

.Cart-Bill-details .itemtotal .left-desc-total h6 {
    width: 70%;
    font-size: 11.9px;
    font-weight: 400;
}

.grand-total-cart {
    width: 70%;
    padding-top: 7px;
}

.grand-total-cart h6 {
    width: 70%;
    font-size: 15.2px;
    font-weight: 600;
    margin-bottom: 0.6rem;
}


.Cart-Bill-details .itemtotal .right-amount-total {
    width: 30%;
    direction: rtl;
    margin-right: 5px;
}

.Cart-Bill-details .itemtotal .right-amount-total span {
    font-size: 12.6px;
    padding-bottom: 5px;
}

.right-grand-total span {
    font-size: 16.5px;
    font-weight: 600;
    margin-right: 5px;
}

.bill-details-heading h6 {
    margin-left: 14px;
    margin-top: 12px;
    font-weight: 700;
    font-size: 15px;
}

.save-rupees-heading {
    padding: 10px;
    padding-left: 14px;
    border-top: 1px solid #ccc;
    background-color: #acd3fa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.save-rupees-heading h6 {
    font-size: 13px;
    font-weight: 500;
    color: #5157fc;
}


.cancellation-policy {
    margin-top: 0.6rem;
    padding: 12px;
    background-color: white;
    border-radius: 10px;
    border: 0.1px solid #e4e4e4;
    align-items: center;
}

.cancellation-policy h6 {
    font-size: 15px;
    font-weight: 600;
}

.cancellation-policy p {
    font-size: 11.6px;
    font-weight: 400;
    line-height: 1.3;
    color: #464545;
}

.button-place-order{
    margin-top: 0.6rem;
}
.button-place-order button{
    width: 100%;
}





/* index main section after navbar */

.carousel-section {
    display: flex;
    width: 100%;
    height: 94vh;
    /* border: 2px solid red; */
    gap: 1rem;
    background-color: var(--primary-color);
    color: white;
    overflow: hidden;
}

.left-description {
    width: 60%;
    padding: 15rem 2rem 0 4rem;
    /* background-color: white; */
    /* color: white; */
}

.left-description h1 {
    font-size: 3.3rem;
    font-weight: 800;
}

.left-description p {
    width: 90%;
}

.right-image {
    width: 36%;
    scale: 40%;
    padding: 7rem 0;
    background-color: var(--secondary-color);
    transform: rotate(26deg);
}

.right-image img {
    transform: rotate(-26deg);
    scale: 260%;
    filter: drop-shadow(1.5px 1.5px 3px black);
}

/* festival */
.festival {
    margin: 2.5rem auto;
}

.festival .card img {
    width: 60%;
    object-fit: cover;
    margin: 0.5rem auto;
}

.festival .card .desc {
    width: 95%;
    background-color: var(--secondary-color);
    color: white;
    padding: 2px 10px;
    margin: 5px 0;
    position: relative;
    /* Adding position property */
    top: -5px;
    outline-offset: 2px solid blue;
}


.festival-container {
    width: 100%;
    height: 20rem;
    background-color: rgb(89, 26, 39);
    margin: 3.3rem auto;
    background-image: url("images/holi-festive.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.festival-container .left-desc {
    width: 55%;
    margin: 0 2rem;
    color: white;
}

.festival-container .right-image-festival {
    width: 40%;
    rotate: 12deg;
}

.festival-container .right-image-festival img {
    width: 95%;
    box-shadow: 3px 3px 5px black;
}

/* Shop by category */

.shop-by-category {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.shop-by-category .heading {
    text-align: center;
    font-family: "Oswald", sans-serif;
}

.category {
    margin: 2.5rem auto;
}
.category .desc{
    width: 96%;
    color: white;
    background-color: var(--secondary-color);
    padding: 4px 10px;
    margin-bottom: 1rem;
}
.category .desc h5{
    font-size: 16px;
}
.category .card{
    width: 102%; 
}

.category .card img {
    width: 60%;
    object-fit: cover;
    margin: 0.5rem auto;
}

.category .card .descProduct-indexPage {
    width: 100%;
    color: black;
    padding: 2px 0;
    margin: 0px;
}
.descProduct-indexPage h5 {
    font-size: 14.5px;
    border-top: 0.5px solid #ccc;
    border-left: 5px solid var(--secondary-color);
    /* border-bottom-left-radius: 5px; */
    padding: 0.5rem 10.5px;
}
.descProduct-indexPage span {
    font-size: 13.7px;
    padding: 0 11px;
}
.descProduct-indexPage h6 {
    font-size: 17px;
    font-weight: 600;
    line-height: 1;
    padding-top: 5px;
    padding: 0 3px 0 11px;
}
.descProduct-indexPage h6 span{
    font-size: 11.8px;
    font-weight: 500;
    text-decoration: line-through;
    color: #656464;
}
.quantity-form-in-index-page{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    gap: 1%;
    margin-bottom: 0;
    line-height: 0.9;
    padding: 0 4px 0 10px;
}
.quantity-form-in-index-page .quan-left{
    width: 62%;
}
.quantity-form-in-index-page .increment-button{
    height: 27px;
}
.quantity-form-in-index-page .decrement-button{
    height: 27px;
}
.quantity-form-in-index-page .quan-left input{
    width: 38%;
    height: 27px;
    background-color: white;
    border: 0.4px solid var(--secondary-color);
}
.quantity-form-in-index-page .button-right{
    padding: 0 6px 0 0;
    width: 40%;
    margin-left: 0.2rem;
}
.button-right .addtocart-btn-index{
    margin-bottom: 0.4rem;
    padding: 6.5px 4.6px;
    width: 100%;
    background-color: white;
    color: #a77509;
    font-weight: 600;
    font-size: 13px;
    border-radius: 5px;
    border: 0.8px solid #a77509;
}

.whychooseus {
    justify-content: center;
    text-align: center;
    font-family: oswald, serif;
    margin: 2.6rem auto;
    line-height: 2.7;
}

.whychooseus p {
    line-height: 1.4;
}



.footer {
    background-image: url("images/asian-2752_1920.jpg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-color: var(--primary-color);
    color: white;
}

.fa-brands {
    font-size: 1.5rem !important;
}



.about-us-section {
    padding-top: 6rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 3rem;
}

.about-us-section h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

.left-section-about {
    width: 70%;
}

.right-link-box {
    width: 30%;
    height: 18rem;
    border: 2px solid #ccc;
    margin-top: 3rem;
}

.top-links-section {
    margin-bottom: 2.5rem;
}

.top-links-section h3 {
    background-color: #e4e3e3;
    padding: 1.2rem;
}

.top-links-section .about-right-links {
    padding: 0.5rem 1.2rem;
}

.top-links-section .about-right-links h4 {
    padding: 0.3rem 0;
}

.top-links-section .about-right-links .active {
    padding-left: 0.4rem;
    background-color: var(--primary-color);
    color: white;
}

.bottom-links-section {
    height: 13.2rem;
    border: 2px solid #ccc;
}

.bottom-links-section h4 {
    background-color: #e4e3e3;
    padding: 1.2rem;
}

.bottom-links-section a {
    text-decoration: none;
    margin: 1.2rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.bottom-links-section i {
    padding-right: 0.5rem;
    padding-top: 0.8rem;
}



.card-contact p {
    height: 9rem;
    padding: 13px;
}

.contact-form {
    padding: 13px;
}

.contact-form form input {
    margin: 0.7rem 0;
    padding: 0.5rem;
}





/* Single Product Page CSS */

.product-details-section {
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* border: 2px solid red; */
    margin-top: 4.8rem;
    margin-bottom: 3rem;
    border-bottom: 0.3px solid #ccc;
}

.left-half-for-image {
    width: 55%;
    height: 100%;
    /* background-color: rgb(69, 100, 7); */
    padding-top: 2rem;
    position: sticky;
    top: 5%;
    margin-bottom: 2.5rem;
}

.single-img {
    margin: 0.2rem 0.2rem 0.5rem 9rem;
}

.single-img img {
    width: 70%;
    margin: 2rem 0;
}

.multiple-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.multiple-images img {
    width: 16%;
    border: 0.3px solid #dddddd;
}

.right-half-for-description {
    width: 45%;
    height: 100%;
    padding: 2.5rem;
    /* background-color: blueviolet; */
    border-left: 0.4px solid #ccc;
}

.right-half-for-description .breadcrumb {
    margin-top: 2rem;
}

.product-heading h3{
    font-family: "Roboto", sans-serif;
}

.pieces-if-any span {
    font-size: 13px;
    font-weight: 630;
    color: #787777;
}

.MRP-and-addtocart-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-MRP {
    width: 35%;
    border-right: 1px solid #ccc;
    font-family: "Roboto", sans-serif;
}

.MRP h5 {
    font-weight: 400;
    margin-top: 0.8rem;
}

.MRP .price-tag {
    /* line-height: 0.2; */
    background-color: var(--primary-color);
    width: 38%;
    font-size: 11px;
    height: 1rem;
    padding: 1.5px;
    padding-left: 6px;
    color: white;
    border-radius: 5px;
}

.MRP h5 .original-price {
    font-weight: 400;
    font-size: 16px;
    text-decoration: line-through;
    padding-right: 8px;
}

.selling-price {
    font-weight: 650;
}

.inclusive-of-all-taxes {
    font-size: 12px;
    color: #696969;
}

.middle-quantity {
    width: 32%;
    padding: 0 7px;
    padding-top: 0;
    /* margin-bottom: 0.5rem; */
    height: 4.5rem;
    border-right: 1px solid #ccc;
    justify-content: center;
    text-align: center;
    padding: 0 1.4rem;
}

.increment-button, .decrement-button {
    background-color: #dbdbdb;
    border: 1px solid #ccc;
    padding: 8px;
}

.right-addtocart {
    width: 26%;
    margin-left: 24px;
}

.addtocart-button {
    padding: 0.4rem 1rem;
    background-color: var(--secondary-color);
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-radius: 1px;
    border: 1px solid rgb(85, 85, 1);
    transition: all 0.2s ease;
}

.addtocart-button:hover {
    background-color: #f9ca10;
    color: black;
}



/* Product listed page CSS */

.product-page-section {
    width: 100%;
    height: 100%;
    border: 1.5px solid #ededed;
    display: flex;
    margin-top: 4.7rem;
    /* box-shadow: 0px 1px 3px grey; */
}

.category-names {
    width: 22%;
    height: 100%;
    /* background-color: #696969; */
    margin-top: 1.5rem;
    position: sticky;
    top: 14%;
}

.total-catory-list {
    width: 100%;
    height: 100%;
}

.total-catory-list a {
    border-bottom: 1.5px solid #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    text-decoration: none;
    color: rgb(30, 30, 30);
}

.total-catory-list a:hover {
    background-color: #ebffef;
}

.left-category-img {
    width: 25%;
}

.left-category-img img {
    width: 83%;
}

.category-names .right-category-desc {
    width: 75%;
}

.category-names .right-category-desc h5 {
    font-size: 15px;
    font-weight: 500;
    color: #363636;
}

.product-listed {
    width: 78%;
    height: 100%;
    background-color: #f4f6fb;
    margin-top: 1rem;
    border-left: 1.5px solid #ededed;
}

.right-product-list-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 0.8rem;
    background-color: white;
}

.search-products-page{
    display: none;
}

.product-listed .row {
    /* border: 2px solid purple; */
    width: 99%;
    margin: 0.7rem auto;
}

.product-listed .col-6 {
    padding: 5px 2px;
    margin: 0;
    /* border: 2px solid red; */

}

.product-listed .card {
    width: 98%;
    border: 1.5px solid #e4e4e4;
    border-radius: 10px;
    margin: 0 4px;
    padding-left: 0.3rem;
}

.product-listed .card h4 {
    font-size: 15.4px;
    height: 2rem;
}

.prod-description {
    padding: 4px 10px;
}
.prod-description img{
    width: 50%;
    margin: 0.5rem 3rem;
}
.prod-description a{
    text-decoration: none;
    color: black;
}

.prod-description .selling-price {
    margin-top: 2rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 0;
}

.prod-description .original-price {
    margin-top: 10px;
    font-size: 13.5px;
    font-weight: 400;
    text-decoration: line-through;
    color: #a0a0a0;
}

.addtocart-button-in-product {
    margin-bottom: 1rem;
    width: 100%;
    background-color: white;
    color: #a77509;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    padding: 4.5px 14px;
    border: 1px solid #a77509;
    transition: all 0.2s ease;
}

.quantity-form-in-prod-listed {
    width: 100%;
    display: flex;
}

.quantity-form-in-prod-listed div input {
    width: 40%;
    height: 35px;
}
.quantity-form-in-prod-listed .increment-button, .decrement-button {
    height: 35px;
}

.quan-left {
    width: 65%;
}

.button-right {
    width: 37%;
    margin-right: 4px;
}




/* Category Selected Page Section */

.Category-selected-page-section{
    width: 100%;
    height: 100%;
    margin-top: 4.7rem;
}

.product-listed-Category-Selected{
    width: 100%;
    margin-top: 1rem;
    background-color: #f4f6fb;
}
.product-list-headinginCategorySelected{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.9rem 0.8rem;
    background-color: white;
}

.product-listed-Category-Selected .row{
    width: 100%;
    margin: 0.7rem auto;
}
.product-listed-Category-Selected .card{
    width: 103%;
    border: 1.5px solid #e4e4e4;
    border-radius: 10px;
    margin: 0.4rem 4px;
    padding-left: 0.3rem;
}
.product-listed-Category-Selected .card h4{
    font-size: 15.4px;
    height: 100%;
}
.product-listed-Category-Selected .prod-description img{
    width: 50%;
    margin: 0.5rem 4rem;
}
.product-listed-Category-Selected .prod-description h6{
    margin-top: 1.1rem;
    
}




/* For Responsiveness CSS Starts Here ! */

@media screen and (max-width : 600px) {

    #overlay-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.618); /* Semi-transparent black background */
        z-index: 700; /* Ensure overlay is on top of everything */
    }


    .menu-btn{
        display: block;
        margin-left: 2rem;
    }
    .menu-btn i{
        font-size: 1.5rem;
    }
    .menu-btn-open-close{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 76%;
        height: 100vh;
        background-color: white;
        color: black;
        /* animation: menuSlide 0.4s ease; */
    }

    @keyframes menuSlide {
        to{
            transform: translateX(0%);
        }
        from{
            transform: translateX(-100%);
        }
    }
    @keyframes menuReverseSlide {
        to{
            transform: translateX(-100%);
        }
        from{
            transform: translateX(0%);
        }
    }
    .menu-main-heading{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 20px 1.1rem;
        background-color: #e0dfdf;
        gap: 5%;
    }
    .menu-main-heading .left-heading{
        width: 83%;
    }
    .menu-main-heading .right-closeBtn{
        width: 12%;
        margin-right: 0.6rem;
    }
    .menu-main-heading .right-closeBtn i{
        font-size: 1.3rem;
        border-radius: 50%;
        padding: 8px 11px;
        background-color: white;
    }

    .menu-links{
        padding: 20px 1.1rem;
    }
    .menu-links a{
        text-decoration: none;
        color: black;
    }
    .menu-links i{
        font-size: 1.3rem;
    }
    .fa-box,.fa-user{
        padding: 0 2.6px;
    }
    .fa-phone,.fa-circle-question,.fa-shield-halved{
        padding: 0 1.6px;
    }
    
    .menu-link-single{
        display: flex;
        gap: 6px;
        margin-bottom: 0.3rem;
        padding-top: 8px ;
        padding-left: 7px;
    }
    .menu-link-single h5{
        font-size: 20px;
        font-weight: 450;
        padding-left: 6px;
    }

    .login-signup-menu-toggle{
        width: 100%;
    }
    .total-division-of-login-signup{
        width: 76%;
        height: 10%;
        position: fixed;
        bottom: 0;
        background-color: var(--secondary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }
    .total-division-of-login-signup .left-login-menu{
        margin: auto;
        padding: 22px;
        padding-top: 23px;
        text-decoration: none;
        color: black;
    }
    .fa-right-to-bracket{
        padding: 0 4px;
        font-size: 1.3rem;
    }
    .fa-user-plus{
        font-size: 1.1rem;
    }
    .total-division-of-login-signup .right-signup-menu{
        margin: auto;
        padding: 25px;
        padding-top: 23px;
        text-decoration: none;
        color: black;
        border-left: 1px solid black;
    }


    .navbar-main {
        height: 11vh;
        align-items: center;
        z-index: 500;
    }
    .navbar-logo {
        margin: 0 2rem;
        text-align: center;
    }

    .navbar-logo a {
        text-decoration: none;
        color: var(--secondary-color);
    }

    .navbar-logo h1 {
        font-size: 6.4vw;
        font-weight: 700;
        padding-top: 0.3rem;
        -webkit-text-stroke: 0.1px rgb(62, 52, 1);

    }

    .navbar-links {
        display: none;
    }

    .btn-primary {
        background-color: var(--secondary-color) !important;
        border: 1px solid rgb(251, 207, 112);
        font-weight: 600;
        font-size: 1rem;
    }

    .cart-button {
        margin-right: 2rem;
    }

    .cart-button i {
        font-size: 1.3rem;
        color: rgb(232, 251, 253);
    }

    .cart-open-close {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 910;
        width: 100%;
        height: 100vh;
        /* animation: cartOpenClose 0.3s ease; */
    }

    .cart-section-heading-and-btn {
        padding: 20px 1.1rem;
    }

    .cart-section-heading-and-btn h4 {
        font-size: 21px;
    }

    .cart-section-heading-and-btn button {
        margin-right: 0.5rem;
        border-radius: 50%;
    }

    .cart-section-heading-and-btn i {
        font-size: 23px;
    }

    .cart-product-list-total {
        margin: 0.5rem;
    }

    .cart-products-list {
        gap: 3px;
    }

    .cart-products-list .cartlist-left-image {
        width: 25%;
        padding: 10px;
    }

    .cart-products-list .cartlist-left-image img {
        width: 98%;
        padding: 6px;
    }

    .cart-products-list .cartlist-medium-desc {
        width: 50%;
        padding: 8px;
        padding-left: 0;
    }

    .cart-products-list .cartlist-medium-desc p {
        font-size: 11.8px;
        margin-right: 0.5rem;
        margin-bottom: 0.2rem;
    }

    .cart-products-list .cartlist-medium-desc span {
        font-size: 12px;
    }

    .cart-products-list .cartlist-medium-desc h6 {
        font-size: 13px;
        font-weight: 700;
    }


    .cart-products-list .cartlist-right-quantity {
        width: 30%;
        margin: 6px;
        margin-right: 0.4rem;
    }

    .cart-products-list .cartlist-right-quantity .quan-right-cart input {
        width: 37%;
        padding: 0 6px;
    }

    .cart-products-list .cartlist-right-quantity .quan-right-cart span {
        margin: 0;
        padding: 0.5px 6px;
        padding-bottom: 1.3px;
    }


    .Cart-Bill-details {
        margin: 0.5rem;
        margin-top: 0.7rem;
    }

    .Cart-Bill-details .itemtotal .left-desc-total {
        width: 70%;
        padding-top: 3px;
    }

    .Cart-Bill-details .itemtotal .left-desc-total h6 {
        width: 70%;
        font-size: 12px;
        font-weight: 400;
    }

    .grand-total-cart {
        width: 70%;
        padding-top: 7px;
    }

    .grand-total-cart h6 {
        font-size: 15.5px;
    }

    .Cart-Bill-details .itemtotal .right-amount-total span {
        font-size: 12.8px;
    }

    .bill-details-heading h6 {
        margin-left: 14px;
        margin-top: 15px;
    }

    .save-rupees-heading {
        padding: 8px;
        padding-top: 14px;
        padding-left: 14px;
    }

    .save-rupees-heading h6 {
        font-size: 13px;
        font-weight: 500;
        color: #5157fc;
    }
    .cancellation-policy{
        margin: 0.5rem;
    }

    .cancellation-policy h6 {
        font-size: 15.6px;
        font-weight: 600;
    }

    .cancellation-policy p {
        font-size: 12px;
    }

    .login-on-cart {
        margin: 0.5rem;
        padding: 14px;
    }

    .total-on-left-cart {
        padding-top: 8px;
    }






    /* index main section after navbar */

    .carousel-section {
        display:flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        /* border: 2px solid red; */
        gap: 0rem;
        overflow: hidden;
        padding-bottom: 4rem;
        justify-content: center;
        align-items: center;
    }

    .left-description {
        width: 100%;
        padding: 0rem 2.1rem;
        order: 2;
    }

    .left-description h1 {
        font-size: 2.7rem;
        font-weight: 800;
    }

    .left-description p {
        width: 97%;
    }

    .right-image {
        width: 160%;
        scale: 42%;
        order: 1;
        padding: 0.5rem;
        margin-top: 3.5rem;
        padding-bottom: 0;
        background-color: var(--secondary-color);
        transform: rotate(25deg);
    }

    .right-image img {
        transform: rotate(-25deg);
        scale: 170%;
        filter: drop-shadow(1.5px 1.5px 3px black);
        /* background-color: white; */
    }

    /* festival */
    .festival {
        margin: 2.5rem auto;
    }

    .festival .card img {
        width: 60%;
        object-fit: cover;
        margin: 0.5rem auto;
    }

    .festival .card .desc {
        width: 95%;
        background-color: var(--secondary-color);
        color: white;
        padding: 2px 10px;
        margin: 10px 0;
    }
    .festival .card .desc h5{
        font-size: 15px;
        padding-top: 7px;
    }


    .festival-container {
        width: 100%;
        height: 100%;
        background-color: rgb(89, 26, 39);
        margin: 2.7rem auto;
        background-image: url("images/holi-festive.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }

    .festival-container .left-desc {
        width: 90%;
        margin: 1.4rem 2rem;
        padding-top: 0;
        order: 2;
    }

    .festival-container .right-image-festival {
        width: 100%;
        rotate: 0deg;
    }

    .festival-container .right-image-festival img {
        width: 100%;
        box-shadow: 0px 0px 0px black;
    }

    /* Shop by category */

    .shop-by-category {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .shop-by-category .heading {
        text-align: center;
        font-family: "Oswald", sans-serif;
    }

    .category {
        margin: 2.5rem auto;
    }

    .category .card img {
        width: 60%;
        object-fit: cover;
        margin: 0.5rem auto;
    }

    .category .card .desc {
        width: 95%;
        background-color: var(--secondary-color);
        color: white;
        padding: 2px 10px;
        margin: 10px 0;
    }
    .category .card .desc h5{
        font-size: 15px;
        padding-top: 7px;
    }

    .whychooseus {
        justify-content: center;
        text-align: center;
        font-family: oswald, serif;
        margin: 1.5rem auto;
        line-height: 2.7;
    }

    .whychooseus p {
        line-height: 1.4;
    }



    .footer {
        background-image: url("images/asian-2752_1920.jpg");
        background-position: center right;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-color: var(--primary-color);
        color: white;
    }

    .fa-brands {
        font-size: 1.5rem !important;
    }

    .footer h3{
        font-size: 1.8rem;
        line-height: 0.1;
    }
    .footer span{
        font-size: 12px;
    }




    /* About Us Page CSS */

    .about-us-section {
        padding-top: 6rem;
        gap: 0rem;
    }

    .about-us-section h2 {
        font-weight: 700;
        font-size: 2rem;
    }

    .left-section-about {
        width: 97%;
    }
    .left-section-about li{
        color: #727272;
        font-size: 13px;
    }

    .right-link-box {
        display: none;
    }


    /* Contact Page CSS */

    .card-contact p {
        height: 100%;
        padding: 13px;
    }

    .contact-form {
        padding: 13px;
    }

    .contact-form form input {
        margin: 0.7rem 0;
        padding: 0.5rem;
    }





    /* Single Product Page CSS */

    .product-details-section {
        width: 100%;
        height: 100%;
        display: block;
        margin-top: 4.8rem;
        margin-bottom: 3rem;
        border-bottom: 0.3px solid #ccc;
    }

    .left-half-for-image {
        width: 100%;
        height: 100%;
        /* background-color: rgb(69, 100, 7); */
        padding-top: 2rem;
        position: relative;
        margin-bottom: 2.5rem;
    }

    .single-img {
        margin: 0.2rem auto;
        text-align: center;
    }

    .single-img img {
        width: 80%;
        margin: 2rem 0;
    }

    .multiple-images {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;
    }

    .multiple-images img {
        width: 20%;
        border: 0.3px solid #dddddd;
    }

    .right-half-for-description {
        width: 100%;
        height: 100%;
        padding: 0.7rem;
        /* background-color: blueviolet; */
        border: 0px solid #ccc;
    }

    .right-half-for-description .breadcrumb {
        display: none;
    }

    .pieces-if-any span {
        font-size: 12.2px;
        font-weight: 500;
        color: #787777;
    }

    .MRP-and-addtocart-section {
        width: 100%;
        display: block;
        align-items: center;
        justify-content: center;
    }

    .left-MRP {
        width: 100%;
        border-right: 0px solid #ccc;
        margin-bottom: 1rem;
    }

    .MRP h5 {
        font-weight: 400;
        margin-top: 0.8rem;
    }

    .MRP .price-tag {
        width: 17%;
        font-size: 11px;
        height: 1.1rem;
        padding: 2.2px;
        padding-left: 6px;
        padding-top: 3px;
    }

    .MRP h5 .original-price {
        text-decoration: line-through;
        padding-right: 8px;
    }

    .selling-price {
        font-weight: 650;
    }

    .inclusive-of-all-taxes {
        font-size: 11.8px;
        color: #696969;
    }

    .middle-quantity {
        width: 100%;
        padding: 0 0px;
        padding-top: 0;
        /* margin-bottom: 0.5rem; */
        height: 3.2rem;
        border-right: 0px solid #ccc;
        text-align:left;
    }
    .middle-quantity label{
        display: none; 
    }

    .plus-minus-button {
        background-color: #dbdbdb;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 2.5px 9px;
    }

    .plus-minus-button:first-child {
        border-right: 0px;
    }

    .right-addtocart {
        width: 50%;
        margin-left: 0px;
    }

    .addtocart-button {
        padding: 0.4rem 1.4rem;
        font-size: 18px;
    }



    /* Product listed page CSS */

    .product-page-section {
        width: 100%;
        height: 100%;
        border: 1.5px solid #ededed;
        display: flex;
        margin-top: 4.7rem;
        /* box-shadow: 0px 1px 3px grey; */
    }

    .category-names {
        width: 22%;
        height: 100%;
        /* background-color: #696969; */
        margin-top: 1.5rem;
        position: sticky;
        top: 14%;
    }

    .total-catory-list {
        width: 100%;
        height: 100%;
    }

    .total-catory-list a {
        border-bottom: 1.5px solid #ededed;
        display: block;
        padding: 12px;
        text-align: center;
    }

    .left-category-img {
        width: 100%;
    }

    .left-category-img img {
        width: 75%;
    }

    .category-names .right-category-desc {
        width: 100%;
        margin-top: 5px;
    }

    .category-names .right-category-desc h5 {
        font-size: 12px;
        font-weight: 500;
        color: #363636;
    }

    .product-listed {
        width: 100%;
        height: 100%;
        background-color: #f4f6fb;
        margin-top: 0.5rem;
        border-left: 1.5px solid #ededed;
    }

    .right-product-list-heading {
        display: block;
        align-items: center;
        justify-content: space-between;
        padding: 0.4rem 0.8rem;
    }
    .sort-by{
        display: none;
    }
    .search-products-page{
        display: block;
    }
    .search-products-page form{
        display: flex;
    }

    .product-listed img {
        width: 62%;
        margin: 0.5rem auto;
    }

    .product-listed .row {
        /* border: 2px solid purple; */
        width: 99%;
        margin: 0.7rem auto;
    }

    .product-listed .col-6 {
        padding: 5px 2px;
        margin: 0;
    }

    .product-listed .card {
        width: 97.5%;
        border: 1.5px solid #e4e4e4;
        border-radius: 10px;
        margin: 0 2px;
        padding-left: 0rem;
    }

    .product-listed .card h4 {
        font-size: 13.8px;
        height: 1.6rem;
    }

    .prod-description {
        padding: 4px 10px;
    }

    .prod-description .selling-price {
        margin-top: 1.3rem;
        font-size: 14.8px;
        font-weight: 500;
        line-height: 0;
    }

    .prod-description .original-price {
        margin-top: 7px;
        font-size: 13.5px;
    }

    .addtocart-button-in-product {
        margin-bottom: 0.3rem;
        margin-top: 0.5rem;
        font-weight: 600;
        font-size: 16px;
        padding: 1.1px 13px;
        padding-bottom: 1.2px;
    }

    .quantity-form-in-prod-listed {
        width: 100%;
        display: block;
    }

    .quantity-form-in-prod-listed div input {
        width: 41%;
        background-color: white;
        border: 0.5px solid var(--secondary-color);
        padding-left: 8px;
    }

    .quan-left {
        width: 99%;
    }

    .button-right {
        width: 98%;
        margin-right: 0px;
    }

}