{% extends "base.html" %}

{% block section %}


<div class="container">
    <div class="checkout-section">
        <form action="{% url 'placeorder' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-md-7 col-lg-7  mt-2 mt-md-0">
                    <div class="card shadow">
                        <div class="card-body">
                            <h3>Basic Details</h3>
                            <hr>
                            <div class="row checkout-form">
                                <div class="col-md-6 mb-2">
                                    <label for="firstname">First Name</label>
                                    <input type="text" class="form-control" value="{{ request.user.first_name }}" name="first_name" placeholder="Enter First Name" required>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <label for="lastname">Last Name</label>
                                    <input type="text" class="form-control" value="{{ request.user.last_name }}" name="last_name" placeholder="Enter Last Name" required>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" value="{{ request.user.email }}" name="email" placeholder="abc@example.com" required>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <label for="phone">Phone</label>
                                    <input type="tel" class="form-control" value="{{ userprofile.phone }}" name="phone" placeholder="Enter Phone" required>
                                </div>
                                <div class="col-md-12 mb-2">
                                    <label for="address">Address</label>
                                    <textarea type="text" class="form-control" name="address"
                                    placeholder="Enter Your Address" required>{{ userprofile.address }}</textarea>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <label for="city">City</label>
                                    <input type="text" class="form-control" value="{{ userprofile.City }}" name="city" placeholder="Enter your city" required>
                                </div>
                                <div class="col-md-4 dropdown mb-2">
                                    <label for="email">Country</label><br> 
                                    <select class="form-control dropdown-toggle" data-bs-toggle="dropdown" name="country"
                                        aria-expanded="false" required>
                                        <option value=""></option>
                                        <option value="India">India</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <label for="zip">Zip Code</label>
                                    <input type="text" class="form-control" value="{{ userprofile.Pincode }}" name="zipcode" placeholder="xxxxxx" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-12 col-md-5 col-lg-5 my-3 my-md-0">
                    <div class="card shadow">
                        <div class="card-body">
                            <h6>Order Summary</h6>
                            <hr>
                            {% if cartitems %}
                            <table class="table table-stripeds table-bordereds">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>QTY</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cartitems %}
                                    <tr>
                                        <td><img src="{{item.product.product_imageMain.url}}" alt="" width="50px"
                                                height="50px"></td>
                                        <td>{{item.product.ProdName | truncatechars:25}}<br>
                                            <h6 class="checkout-priceintoquantity">
                                                ₹{{item.product.selling_price | stringformat:'d'}} * {{item.product_qty}}
                                            </h6>
                                        </td>
                                        <td>{{item.product_qty}}</td>
                                        <td>{{item.total_price }}</td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                            <h6 class="ms-1">Delivery Charge <span class="float-end me-4">₹{{delivery_charge}}</span>
                            </h6>
                            <hr>
                            <h6 class="ms-1">Grand Total
                                {% if grand_total < 200 %} <span class="float-end me-4">
                                    ₹{{grand_total | add:60}}</span>
                                    {% else %}
                                    <span class="float-end me-4">₹{{grand_total}}</span>
                                    {% endif %}
                            </h6>
                            <input type="hidden" value="COD" name="payment_mode">

                            <div class="place-order-btn">
                                <button type="submit" class="btn btn-primary w-100 mt-3 shadow">COD | Place Order</button>
                            </div>

                            {% else %}
                            <h4>Your cart is empty</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>






{% endblock %}