{% extends "base.html" %}

{% block section %}


<div class="container py-3">
    <div class="main-myorders-page">
        <div class="breadcrumb">
            <a href="{% url 'home' %}" class="me-2 text-decoration-none">Home /</a>
            <span class="active"> My Orders</span>
        </div>
    </div>
    <div class="container my-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-header">
                        <h3 class="mb-0">My Orders</h3>
                    </div>
                    <div class="card-body order-page-table">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th>Order Date</th>
                                    <th>Tracking Number</th>
                                    <th>Grand Total</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in orders  %}
                                  
                                <tr class="text-center">
                                    <td>{{ item.created_at }}</td>
                                    <td>{{ item.tracking_no }}</td>
                                    {% if item.total_price < 200 %}
                                        <td>₹{{ item.total_price | add:60 }}</td>
                                    {% else %}
                                        <td>₹{{ item.total_price | stringformat:'d' }}</td>
                                    {% endif %}
                                    <td>{{ item.status }}</td>
                                    <td>
                                        <a href="{% url 'orderview' item.tracking_no %}" class="btn btn-primary">View</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>    
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


{% endblock %}