{% extends "base.html" %}

{% block section %}

<div class="container about-us-section">

    <div class="left-section-about">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
        </nav>

        <h2>About Shop Store</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, similique animi dolorum iusto molestiae
            maxime blanditiis! Magnam unde fuga recusandae. Sint quo commodi deleniti doloremque similique dolores
            libero voluptate quibusdam iste rem, nulla culpa eius soluta debitis, quis voluptatem facere!
        </p>
        <hr>

        <h3>Our Heritage</h3>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, a nemo excepturi beatae unde odio ut culpa
            sequi? Voluptate, omnis tenetur. Quam numquam ipsam magnam dolores dicta mollitia distinctio consectetur
            tenetur? Voluptate vitae dolore enim corrupti. Magnam labore molestias quis voluptates iure suscipit! Odio
            ea eius, soluta harum voluptatem recusandae?
        </p>

        <hr>
        <h3>Our Products</h3>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis enim quia eius velit sint. Labore tenetur qui
            optio molestias reiciendis eveniet nihil veniam a consectetur dolorum at, sequi neque quibusdam autem quod
            soluta eligendi repellendus. Repudiandae in dolorum pariatur earum nihil, perspiciatis quo, esse libero,
            quaerat nemo molestias rerum vitae deleniti consequuntur nesciunt? Accusamus autem error, dolor incidunt
            voluptatum laudantium soluta eius nam sunt hic assumenda accusantium, quaerat aliquam natus doloribus. Quia
            laborum iste consectetur quae. Repudiandae, nulla quisquam. Dignissimos quibusdam accusamus ratione sapiente
            architecto est veritatis facere, odio qui.
        </p>

        <hr>
        <h3>Your Trusted Companion</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet perferendis assumenda voluptatem animi
            tempore delectus itaque ipsum maiores? Illum temporibus aut ullam quidem facilis, magnam neque similique,
            quaerat harum magni eius molestias officia totam facere ratione quasi? Maiores, similique accusantium.
        </p>
        <hr>

        <h3>Festive Specialties</h3>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi quo eaque, laborum praesentium qui modi vitae. Inventore nostrum totam iure.
        </p>
        <hr>

        <h3>Your Home Away from Home</h3>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam tempore ratione quidem aperiam voluptatem est animi veniam impedit iusto. Quae distinctio minus voluptate ratione, temporibus non ipsam perspiciatis veniam consectetur alias, eaque quam pariatur eum explicabo at ut id libero! Voluptas cumque cum eaque nisi impedit quis vero, quod error?
        </p>
        <br>
        <br>

    </div>

    <div class="right-link-box">
        <div class="top-links-section">
            <h3>More Links</h3>
            <div class="about-right-links">
                <a href="{% url 'contact' %}" style="text-decoration: none; color: var(--primary-color);">
                    <h4>Contact</h4>
                </a>
                <a href="{% url 'terms-and-conditions' %}" style="text-decoration: none; color: var(--primary-color);">
                    <h4>Terms and Conditions</h4>
                </a>
                <a href="{% url 'privacy-policy' %}" style="text-decoration: none; color: var(--primary-color);">
                    <h4>Privacy and Policy</h4>
                </a>
                <a href="{% url 'faqs' %}" style="text-decoration: none; color: var(--primary-color);">
                    <h4>FAQs</h4>
                </a>
            </div>

        </div>
        <div class="bottom-links-section">
            <h4>Order Your Products Through Whatsapp:</h4>
            <a href="" style="color: rgb(2, 220, 2);"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a><br>
            <a href="" style="color: rgb(0, 170, 255);"><i class="fa fa-phone"></i> +91-8077468568</a>
        </div>
    </div>
</div>

{% endblock %}