{% extends "base.html" %}

{% block section %}


<div class="container">
    <div class="Category-selected-page-section">

        <div class="product-listed-Category-Selected">
            <div class="product-list-headinginCategorySelected">
                <div>
                    <h5>Buy {{category_name.name}} Online</h5>
                </div>
                <div class="sort-by">
                    <label>Sort By</label>
                    <select>
                        <option>Relevance</option>
                        <option>Price(Low to High)</option>
                        <option>Price(High to Low)</option>
                        <option>Name(A to Z)</option>
                    </select>
                </div>
                <div class="search-products-page">
                    <form action="">
                        <input type="search" name="search" id="search" placeholder="search...">
                        <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </form>
                </div>

            </div>
            <div class="row container">

                {% for item in products %}

                <div class="col-6 col-md-3 col-lg-3">
                    <div class="card product_data">
                        <div class="prod-description">
                            <a href="{% url 'product-details' item.category.slug item.slug %}">
                                <img src="{{item.product_imageMain.url}}" alt="">
                                <div>
                                    <h4 style="font-family: 'Roboto', sans-serif;">{{item.ProdName | truncatechars:60}}
                                    </h4>
                                    <span>500 g</span>
                                </div>  
                            </a>
                            <h6 class="selling-price">₹400</h6>
                            <span class="original-price">₹600</span>


                            <form class="quantity-form-in-prod-listed mb-2 mt-2">
                                <div class="quan-left input-group">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ item.id }}" class="prod_id">
                                    <button type="button" class="input-group-text increment-button">+</button>
                                    <input type="text" id="quantity" name="quantity" value="1" class=" text-center qty-input"
                                        disabled>

                                    <button type="button" class="input-group-text decrement-button">−</button>
                                </div>
                                <div class="button-right">
                                    <button type="button" class="addtocart-button-in-product addToCart_btn">ADD</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                {% endfor %}


            </div>
        </div>
    </div>
    <br>
    <br>
</div>

{% endblock %}