<div class="footer">
    <div class="container">
        <footer class="py-5">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-8 mb-4">
                    <h3>Shop Store</h3>

                    <span>Website Designed by Shubhnish Verma</span><br>
                    <span class="bigbasket">Images and product details are taken from big basket</span>

                </div>


                <div class="col-6 col-md-2 mb-3 ">
                    <h4>Links</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{% url 'home' %}" class="nav-link p-0 text-white">Home</a>
                        </li>
                        <li class="nav-item mb-2"><a href="{% url 'product' %}"
                                class="nav-link p-0 text-white">Products</a>
                        </li>
                        <li class="nav-item mb-2"><a href="{% url 'terms-and-conditions' %}"
                                class="nav-link p-0 text-white">terms & conditions</a>
                        </li>
                        <li class="nav-item mb-2"><a href="{% url 'privacy-policy' %}"
                                class="nav-link p-0 text-white">privacy policy</a></li>
                        </li>
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3 ">
                    <h4>help</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{% url 'about' %}" class="nav-link p-0 text-white">About</a>
                        </li>
                        <li class="nav-item mb-2"><a href="{% url 'contact' %}"
                                class="nav-link p-0 text-white">Contact</a>
                        </li>
                        <li class="nav-item mb-2"><a href="{% url 'contact' %}"
                                class="nav-link p-0 text-white">Support</a>
                        </li>
                        <li class="nav-item mb-2"><a href="{% url 'faqs' %}" class="nav-link p-0 text-white">FAQs</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Whatsapp</a></li>

                    </ul>
                </div>



                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                    <p>Copyright © 2024 Shop Store, Inc. All rights reserved.</p>
                    <ul class="list-unstyled d-flex">
                        <li><a class="link-body-emphasis" href="#"><i class="fa-brands fa-instagram"
                                    style="color:orange"></i></a></li>
                        <li class="mx-4"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-facebook"
                                    style="color:white;"></i></a></li>
                        <li><a class="link-body-emphasis" href="#"><i class="fa-brands fa-whatsapp"
                                    style="color:rgb(76, 249, 76)"></i></a></li>
                    </ul>
                </div>
        </footer>
    </div>
</div>
</body>


<!-- Custom JS -->
<script src="/static/js/menu.js"></script>
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/custom.js"></script>

<!-- Bootstrap CDN JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>


<!-- Alertify JS -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<script>
    alertify.set('notifier', 'position', 'top-right');

    {% for msg in messages %}
        alertify.success('{{ msg }}');
    {% endfor %}
</script>



</html>